.container {
  margin: 100px;
  align-items: center;
  text-align: center;
}

.field {
  display: flex;
  position: relative;
  margin: 5em auto;
  border-radius: 50px;
  width: 70%;
  flex-direction: row;
  box-shadow: 1px 1px 0 #212121, 2px 2px 0 #212121,
    3px 3px 0 #212121, 4px 4px 0 #212121,
    5px 5px 0 #212121, 6px 6px 0 #212121,
    7px 7px 0 #212121;
}

.field > input[type="text"],
.field > .button {
  border-radius: 50px;
  display: block;
  font: 1.2em "Montserrat Alternates";
}

.field > input[type="text"] {
  flex: 1;
  padding: 0.6em;
  border: 0.2em solid #4f5152; /* Ajustado para que coincida con el azul del menú de navegación */
}

.field > .button {
  padding: 0.6em 0.8em;
  background-color: #4f5152; /* Ajustado para que coincida con el azul del menú de navegación */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

.field2 {
  margin-top: -50px;
}

.field2 > .button {
  padding: 0.6em 0.8em;
  background-color: #4f5152; /* Ajustado para que coincida con el azul del menú de navegación */
  color: white;
  border: none;
  margin: 1rem;
  border-radius: 30px;
}
